.disable_form {
    border: 1px solid #9ca3af !important;
    color: #111928 !important;
    font-size: 0.875rem !important;
    font-family: "Poppins", sans-serif !important;
    padding: 0.75rem !important;
}

.disable_form::placeholder {
    color: #c0c0c0 !important;
}

.disable_form:-ms-input-placeholder {
    color: #c0c0c0 !important;
}

.disable_form::-ms-input-placeholder {
    color: #c0c0c0 !important;
}

.disable_form option:hover {
    background-color: red;
}

.disable_form:focus {
    margin: 0;
    outline: none !important;
    box-shadow: none !important;
}
