.input_number {
    border: 1px solid #9ca3af !important;
    color: #111928 !important;
    font-size: 0.875rem !important;
    font-family: "Poppins", sans-serif !important;
    margin: 1px;
    padding: 0.75rem !important;
    width: 100% !important;
}

.input_number:hover {
    border: 1px solid #111928 !important;
    margin: 1px;
}

.input_number:focus {
    border: 2px solid #111928 !important;
    margin: 0;
    outline: none !important;
    box-shadow: none !important;
}

.input_number::placeholder {
    color: #9ca3af !important;
}

.input_number:-ms-input-placeholder {
    color: #9ca3af !important;
}

.input_number::-ms-input-placeholder {
    color: #9ca3af !important;
}
