.hamburger_menu {
    border: 0px solid transparent !important;
    color: #111928 !important;
    cursor: pointer;
    display: inline-block;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    font-size: 2.25rem !important;
}

.hamburger_menu:hover {
    color: #1f2a37 !important;
}

.hamburger_menu:focus {
    outline: none !important;
    box-shadow: none !important;
}

.header {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    height: 84px;
    padding: 16px 16px 16px 12px;
}

.header_brand {
    color: #111928;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 48px;
    letter-spacing: -0.1em;
    text-transform: lowercase;
    text-decoration: none;
}

.header_brand:hover {
    color: #1f2a37 !important;
}

.header_brand span {
    font-size: 3rem;
}

.header_brand_wrapper {
    width: 252px;
    padding: 0 0.75rem;
    top: 0;
}

@media (max-width: 768px) {
    .header_brand {
        display: none;
    }

    .header_brand_wrapper {
        padding: 0;
        width: auto;
    }
}

@media (max-width: 500px) {
    .header {
        padding: 14px 14px 14px 8px;
    }
}
