.btn_primary {
    background-color: #673ab7 !important;
    border: medium solid transparent !important;
    /* border-radius: 0.75rem !important; */
    color: #fff !important;
    font-family: "Poppins", sans-serif;
}

.btn_primary:hover {
    background-color: #4527a0 !important;
    color: #fff !important;
}

.btn_primary:active {
    background-color: #673ab7 !important;
    color: #fff !important;
    border: medium solid #b39ddb !important;
}

.btn_primary:focus {
    outline: none !important;
    box-shadow: none !important;
}
