.btn_primary {
    background-color: #111928 !important;
    border: medium solid transparent !important;
    border-radius: 4px !important;
    color: #fff !important;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem !important;
}

.btn_primary:hover {
    background-color: #1f2a37 !important;
    color: #fff !important;
}

.btn_primary:active {
    background-color: #111928 !important;
    color: #fff !important;
    border: medium solid #9ca3af !important;
}

.btn_primary:focus {
    outline: none !important;
    box-shadow: none !important;
}
