.btn_link_success {
    background-color: #ffffff !important;
    border: medium solid transparent !important;
    border-radius: 50px !important;
    color: #00c853 !important;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem !important;
    font-weight: 500;
    line-height: 20px;
}

.btn_link_success:hover {
    background-color: #ffffff !important;
    color: #69f0ae !important;
}

.btn_link_success:active {
    background-color: #ffffff !important;
    color: #00c853 !important;
    /* border: medium solid transparent !important; */
}

.btn_link_success:focus {
    outline: none !important;
    box-shadow: none !important;
}
