.wrapper {
    padding: 20px 8px 0 8px;
}

.user_info_wrapper {
    background-color: #111928;
    padding: 36px 28px;
    border-radius: 12px;
    margin: 0 0 24px 0;
}

.user_profile_wrapper {
    background-color: #1f2a37;
    font-size: 64px;
    padding: 30px;
    margin-right: 24px;
    width: 7.8125rem;
    height: 7.8125rem;
}
