.table > :not(caption) > * > * {
    padding: 1.25rem 1rem !important;
}

.table > :not(:first-child) {
    border-top: 0;
}

.table_head {
    background-color: #f9fafb;
}

.table_head th {
    padding: 1rem;
}

.table_head th:first-child {
    border-top-left-radius: 12px !important;
}

.table_head th:last-child {
    border-top-right-radius: 12px !important;
}

.table_body {
    border-color: #e5e7eb !important;
}
