.wrapper {
    padding: 20px 8px 0 8px;
}
.action_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* d-flex justify-content-between align-items-center */
}

.icon_add {
    font-size: 1.125rem;
    margin: 0 15px 0 0;
}
.icon_edit {
    font-size: 1rem;
    margin: 0 15px 0 0;
}

.product_picture,
.product_picture_list {
    border-radius: 50px;
}

.icon_product_wrapper {
    background-color: #1f2a37;
    border-radius: 50%;
    padding: 0.875rem;
}
.icon_product {
    color: #fff;
    font-size: 1.75rem;
}
.product_picture_list {
    width: 6rem;
}
.product_picture_order {
    width: 3rem;
}
.list_wrapper {
    background-color: #f9fafb;
    border-radius: 12px;
    padding: 32px 22px;
}
.table > :not(caption) > * > * {
    padding: 1rem 0.75rem !important;
}

.table > :not(:first-child) {
    border-top: 0;
}

.table_head {
    background-color: #f9fafb;
}

.table_head th {
    padding: 1rem;
}

.table_head th:first-child {
    border-top-left-radius: 12px !important;
}

.table_head th:last-child {
    border-top-right-radius: 12px !important;
}

.table_body {
    border-color: #e5e7eb !important;
}

.modal > * {
    font-family: "Poppins", sans-serif !important;
}

.btn_modal_delete:focus,
.modal_header button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.modal_header {
    border-bottom: 1px solid transparent !important;
}

.modal_body {
    padding: 1.5rem;
}

.modal_footer {
    border-top: 1px solid transparent !important;
}

.icon_warning {
    color: #ffc107;
    font-size: 4rem;
}

.icon_warning_wrapper {
    background-color: #fbe9e7;
    padding: 2rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.btn_secondary_wrapper {
    display: flex;
    justify-content: end;
    /* d-flex justify-content-end */
}

.product_sales_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* d-flex flex-column justify-content-between */
}

.detail_action_wrapper {
    justify-content: end;
}

@media only screen and (max-width: 992px) {
    .action_wrapper {
        flex-direction: column;
    }

    .search_wrapper {
        width: 100%;
    }

    .btn_secondary_wrapper {
        justify-content: flex-start;
    }

    .btn_secondary_wrapper button {
        width: 100%;
    }

    .product_sales_wrapper {
        height: 500px;
        overflow: auto;
    }

    .product_picture_list {
        width: 4rem;
    }
}

/* MOBILE L 425 */
@media only screen and (max-width: 426px) {
    .search_wrapper {
        margin: 1rem 0;
    }

    .icon_product {
        display: none;
    }

    .icon_product_wrapper {
        display: none;
    }

    .detail_action_wrapper {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 576px) {
    .product_sales_container {
        flex-direction: row !important;
        align-items: center;
    }

    .product_sales_description_wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 2rem;
    }

    .product_in_cart {
        margin-bottom: 1rem;
    }

    .product_picture_order {
        display: none;
    }

    .list_wrapper {
        padding: 18px 14px;
    }
}
