.wrapper {
    background-color: #fff;
    /* margin: 84px 24px 0 24px; */
    margin: 84px 24px 0 260px;
}

.wrapper_d_none {
    background-color: #fff;
    margin: 84px 24px 0 24px;
}

.container {
    padding: 0 12px;
    background-color: #f3f4f6;
    width: 100%;
    min-height: 100vh;
}

.container_public {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../public/images/bg_auth.svg);
}
