.nav,
.nav_d_none {
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    line-height: 1.66;
    margin: 0px;
    position: fixed;
    top: 84px;
    overflow: auto;
    width: 260px;
    z-index: 2;
}

.nav {
    opacity: 1;
    height: 100%;
    visibility: visible;
    transition: visibility 5s linear, opacity 5s linear;
}

.nav_d_none {
    opacity: 0;
    visibility: hidden;
    transition: width 2s linear 1s;
}

.nav_container {
    padding: 0 12px;
}

.nav_wrapper {
    padding-left: 12px;
}

.icon {
    font-size: 1rem;
    margin: 0 15px 3px 0;
}

.arrow_nav {
    font-size: 16px;
    text-align: right;
    align-self: center;
}
