.nav,
.nav_d_none {
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    line-height: 1.66;
    margin: 0px;
    position: fixed;
    top: 84px;
    overflow: auto;
    width: 260px;
    z-index: 2;
}

.nav {
    opacity: 1;
    height: 100%;
    visibility: visible;
}

.nav_d_none {
    opacity: 0;
    visibility: hidden;
}

.nav_container {
    padding: 0 12px;
}

.nav_wrapper {
    padding-left: 12px;
}

.icon {
    font-size: 1.125rem;
    margin: 0 15px 3px 0;
}

.arrow_nav {
    font-size: 16px;
    text-align: right;
    align-self: center;
}

.nav::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
}

.nav::-webkit-scrollbar-track {
    background: #fff; /* color of the tracking area */
}

.nav::-webkit-scrollbar-thumb {
    background-color: #e0e0e0; /* color of the scroll thumb */
    border-radius: 50px; /* roundness of the scroll thumb */
}
