.modal > * {
    font-family: "Poppins", sans-serif !important;
}

.modal {
    z-index: 999999999 !important;
}

.btn_modal_delete:focus,
.modal_header button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.modal_header {
    border-bottom: 1px solid transparent !important;
}

.modal_body {
    padding: 1.5rem;
}

.modal_footer {
    border-top: 1px solid transparent !important;
}

.modal_content {
    z-index: 999999999 !important;
}

.icon_delete_primary {
    color: #d84315;
}

.icon_checked_primary {
    color: #00c853;
}

.icon_delete {
    font-size: 1rem;
    margin: 0 15px 0 0;
}

.icon_delete_primary,
.icon_checked_primary {
    font-size: 4rem;
}

.icon_wrapper {
    padding: 2rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.icon_delete_wrapper {
    background-color: #fbe9e7;
}

.icon_checked_wrapper {
    background-color: #b9f6ca;
}
