.wrapper {
    padding: 20px 8px 0 8px;
}

/* .action_wrapper {
    margin: 0 0 2.5rem 0;
} */

.form_footer {
    border-top: 1px solid rgb(238, 238, 238);
}

.icon_add {
    font-size: 1.125rem;
    margin: 0 15px 0 0;
}

.icon_delete {
    font-size: 1rem;
    margin: 0 15px 0 0;
}
