.dropdown_avatar {
    background-color: #e5e7eb !important;
    color: #111928 !important;
    font-size: 1.5rem !important;
    border: 0px solid transparent;
    border-radius: 1.6875rem !important;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 0.4375rem 0.75rem !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;

    /* color: #1f2a37; */
    line-height: 32px !important;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    margin: 0 1rem !important;
}

.dropdown_avatar:hover {
    background-color: #111928 !important;
    color: #ffff !important;
}

.dropdown_avatar span {
    margin: 0 1rem;
}

.dropdown_avatar svg {
    font-size: 1rem;
}

.dropdown_avatar:active {
    background-color: #1f2a37 !important;
}

.dropdown_avatar:focus {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown_avatar img {
    margin: 0 22px 0 0;
}

.icon_avatar {
    background-color: #1f2a37;
    border-radius: 50px;
}

.icon_avatar p {
    color: white;
}

.username_account {
    color: #1f2a37;
    line-height: 32px;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 1rem;
    padding: 0;
}
