.update_btn {
    background-color: #b9f6ca !important;
    margin-right: 0.875rem;
}

.update_btn > * {
    color: #00c853 !important;
}

.delete_btn {
    background-color: #fbe9e7 !important;
}

.delete_btn > * {
    color: #d84315 !important;
}

.update_btn:focus,
.delete_btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
