.dropdown {
    font-size: 1.5rem !important;
    cursor: pointer;
    display: inline-block;
    background-color: #fff !important;
    border: 1px solid transparent !important;
    position: relative;
}

.dropdown:hover {
    color: #fff !important;
}

.dropdown:active {
    color: #fff !important;
}

.dropdown:focus {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown_item {
    white-space: normal !important;
}

.dropdown_menu {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.icon_dropdown_item_error,
.icon_dropdown_item_warning {
    font-size: 1.5rem;
    margin-left: 1rem;
}

/* .dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -250% !important;
    margin-top: 0.125rem;
} */

.icon_dropdown_item_warning {
    color: #ffc107;
}

.icon_dropdown_item_error {
    color: #c62828;
}

.notification_wrapper {
    display: flex;
    justify-content: end;
    /* width: 350px; */
}

.notification_icon {
    border: 0px solid transparent !important;
    color: #111928 !important;
    cursor: pointer;
    display: inline-block;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    font-size: 1.5rem !important;
}

.notification_icon:hover {
    color: #1f2a37 !important;
}

.notification_icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (min-width: 768px) {
    .notification_wrapper {
        margin: 0 6px 0 0;
        width: 400px;
    }
}
