.wrapper {
    padding: 20px 8px 0 8px;
}

.action_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* d-flex justify-content-between align-items-center */
}

.form_footer {
    border-top: 1px solid rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    /* d-flex justify-content-between */
}

.icon_add {
    font-size: 1.125rem;
    margin: 0 15px 0 0;
}

.icon_delete {
    font-size: 1rem;
    margin: 0 15px 0 0;
}

.icon_edit {
    font-size: 1rem;
    margin: 0 15px 0 0;
}

.icon_return_product {
    color: #fff;
    font-size: 1.75rem;
}

.icon_return_product_wrapper {
    background-color: #1f2a37;
    border-radius: 50%;
    padding: 0.875rem;
}

.input_select {
    border: 1px solid #9ca3af !important;
    color: #111928 !important;
    font-size: 0.875rem !important;
    font-family: "Poppins", sans-serif !important;
    margin: 1px;
    padding: 0.75rem !important;
    width: 100% !important;
}

.input_select:hover {
    border: 1px solid #111928 !important;
    margin: 1px;
}

.input_select:focus {
    border: 2px solid #111928 !important;
    margin: 0;
    outline: none !important;
    box-shadow: none !important;
}

.input_select::placeholder {
    color: #9ca3af !important;
}

.input_select:-ms-input-placeholder {
    color: #9ca3af !important;
}

.input_select::-ms-input-placeholder {
    color: #9ca3af !important;
}

.product_picture {
    width: 256px;
}

.btn_secondary_wrapper {
    display: flex;
    justify-content: end;
    /* d-flex justify-content-end */
}

.detail_action_wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    /* d-flex justify-content-end align-items-center */
}

/* MOBILE L 425 */
@media only screen and (max-width: 426px) {
    .search_wrapper {
        margin: 1rem 0;
    }

    .search_wrapper {
        margin: 1rem 0;
    }

    .product_picture {
        width: 100%;
    }

    .icon_product {
        display: none;
    }

    .icon_product_wrapper {
        display: none;
    }

    .detail_action_wrapper {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }

    .icon_return_product {
        display: none;
    }

    .icon_return_product_wrapper {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .btn_secondary_wrapper {
        justify-content: flex-start;
    }

    .btn_secondary_wrapper button {
        width: 100%;
    }

    .action_wrapper {
        flex-direction: column;
    }

    .search_wrapper {
        width: 100%;
    }

    .form_footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer_btn_wrapper {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .footer_btn_wrapper a button {
        width: 100%;
    }
}
