.button,
.button_clicked {
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-align: left;
    text-decoration: none;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
    padding: 0.625rem 0.75rem 0.625rem 2.625rem;
    -webkit-user-select: none;
}

.button {
    background-color: #fff;
    color: #111928;
}

.button:hover {
    background-color: #f3f4f6;
}

.button:active {
    background-color: #e5e7eb;
}

.button_clicked {
    background-color: #111928;
    color: #fff;
}

.button:focus {
    outline: none;
    box-shadow: none;
}
