.btn_secondary {
    background-color: #e5e7eb !important;
    border: medium solid transparent !important;
    border-radius: 4px !important;
    color: #111928 !important;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem !important;
}

.btn_secondary:hover {
    background-color: #d1d5db !important;
    color: #111928 !important;
}

.btn_secondary:active {
    background-color: #e5e7eb !important;
    color: #111928 !important;
    border: medium solid #f3f4f6 !important;
}

.btn_secondary:focus {
    outline: none !important;
    box-shadow: none !important;
}
