.input_select,
.disabled_input_select {
    border: 1px solid #9ca3af !important;
    color: #111928 !important;
    font-size: 0.875rem !important;
    font-family: "Poppins", sans-serif !important;
    margin: 1px;
    padding: 0.75rem !important;
    width: 100% !important;
}

.input_select:hover {
    border: 1px solid #111928 !important;
    margin: 1px;
}

.input_select:focus {
    border: 2px solid #111928 !important;
    margin: 0;
    outline: none !important;
    box-shadow: none !important;
}

.input_select::placeholder {
    color: #9ca3af !important;
}

.input_select:-ms-input-placeholder {
    color: #9ca3af !important;
}

.input_select::-ms-input-placeholder {
    color: #9ca3af !important;
}
