.input_select {
    border: 1px solid #c0c0c0 !important;
    color: #212121 !important;
    font-size: 0.875rem !important;
    font-family: "Poppins", sans-serif !important;
    margin: 1px;
    padding: 0.875rem !important;
    width: 100% !important;
}

.input_select:hover {
    border: 1px solid #212121 !important;
    margin: 1px;
}

.input_select:focus {
    border: 2px solid #2196f3 !important;
    margin: 0;
    outline: none !important;
    box-shadow: none !important;
}

.input_select::placeholder {
    color: #c0c0c0 !important;
}

.input_select:-ms-input-placeholder {
    color: #c0c0c0 !important;
}

.input_select::-ms-input-placeholder {
    color: #c0c0c0 !important;
}

.input_select option:hover {
    background-color: red;
}
