.btn_white {
    background-color: #ede7f6 !important;
    border: medium solid transparent !important;
    border-radius: 0.75rem !important;
    color: #673ab7 !important;
    font-size: 24px !important;
    vertical-align: middle;
    padding: 0.0625rem 0.75rem 0.375rem 0.75rem !important;
    margin: 0 0 0 18px;
}

.btn_white:hover {
    background-color: #4527a0 !important;
    color: #fff !important;
}

.btn_white:active {
    background-color: #673ab7 !important;
    color: #fff !important;
    border: medium solid #b39ddb !important;
}

.btn_white:focus {
    outline: none !important;
    box-shadow: none !important;
}
